/* tudo que está abaixo do * será aplicado para toda 
a minha pagina*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.caixa-principal{
    height: 95vh;
    width: 100%;
    background-image: url();
    background-color: #748193;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
}

.portfolio{
    color: #ffffff;
    font-size: 35px;
    margin-left: 20px;
}

.portfolio span{
    color: #0a417c;
}

li{
    color: #ffffff;
    list-style: none;
    display: inline-block;
    font-size: 20px;
    margin-right: 30px;
    cursor: pointer;
}

li:hover{
    color: #0a417c;
    transition: 0.5s;
}

.meu-nome{
    position: absolute;
    top: 50%;
    left: 7%;
    font-size: 25px;
}

.meu-nome h1{
    color: #ffffff;
}

.meu-nome h3 {
    color: #0a417c;
    font-size: 22px;
}

section{
    display: flex;
    align-items: center;
    padding: 250px;
    background-color: #1d375c;
}

.sobre-mim {
    background-color: #1d375c;
    align-items: center;
    padding: 250px;
    font-size: 20px;
    color: #ffffff;
}

.sobre-mim a{
    background-color:#0a417c;
    border-radius: 25px;
    transition: 0.5s;
    cursor: pointer;
    padding: 10px 20px;
}

.sobre-mim a:hover{
    background-color: transparent;
    border: 2px solid aliceblue;
}

.projetos {
    background-color: #748193;
    display: flex;
    padding: 200px;
}

.projetos h2{
    color: #ffffff;
    font-size: 50px;
}

.card-projetos {
    display: flex;
    justify-content: space-around;
}

.card{
    background-color: #1d375c;
    color: #ffffff;
    height: 365px;
    width: 365px;
    border-radius: 20px;
    padding: 20px 35px;
    text-align: center;
}

.card a{
    background-color: #0a417c;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s;
}

.card a:hover{
    background-color: transparent;
    border: 2px solid aliceblue;
}

